body {
  font-family: "Montserrat", sans-serif;
}

.weather-app {
  border: 1px solid;
  border-radius: 20px;
  padding: 10px;
  margin: 20px auto;
  max-width: 700px;
  border-color: #c6c6c6;
}

.weather-app .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-app .active:hover {
  text-decoration: none;
}
